.square {
	height: 150px;
	width: 150px;
	border: 10px solid black;
	margin: 10px; 
 	
 	float:left;

}

.square.green {
	background: green;
}

.square.red {
	background: red;
}

.square.blue {
	background: blue;
}